<html lang="pl-PL">

<head>
    <title><%= shop.name %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if(shop.icon){ %>
    <link rel="icon" type="image/x-icon" href="<%= shop.icon %>">
    <% } %>
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    <style>
        html {
            scroll-behavior: smooth;
        }

        /* width */
        ::-webkit-scrollbar {
            width: 6px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: rgb(23, 23, 23);
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: rgb(21, 128, 61);
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: rgb(21, 128, 61);
        }
    </style>
</head>

<body>
    <div class="min-h-screen pb-6 bg-[#121212] text-gray-300 flex flex-col items-center">
        <div class="w-full max-w-screen-2xl px-6 py-12 flex">
            <div class="flex-1 text-3xl font-extrabold">
                <a href="#">
                    <%= shop.name %>
                </a>
            </div>
            <div class="gap-8 uppercase hidden md:flex">
                <a href="#" class="text-lg font-bold hover:text-[#198754]">Sklep</a>
                <a href="#terms" class="text-lg font-bold hover:text-[#198754]">Regulamin</a>
                <a href="#voucher" class="text-lg font-bold hover:text-[#198754]">Voucher</a>
                <% if(shop.discord){ %>
                <a href="<%= shop.discord_url %>" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M19.27 5.33C17.94 4.71 16.5 4.26 15 4a.09.09 0 0 0-.07.03c-.18.33-.39.76-.53 1.09a16.09 16.09 0 0 0-4.8 0c-.14-.34-.35-.76-.54-1.09c-.01-.02-.04-.03-.07-.03c-1.5.26-2.93.71-4.27 1.33c-.01 0-.02.01-.03.02c-2.72 4.07-3.47 8.03-3.1 11.95c0 .02.01.04.03.05c1.8 1.32 3.53 2.12 5.24 2.65c.03.01.06 0 .07-.02c.4-.55.76-1.13 1.07-1.74c.02-.04 0-.08-.04-.09c-.57-.22-1.11-.48-1.64-.78c-.04-.02-.04-.08-.01-.11c.11-.08.22-.17.33-.25c.02-.02.05-.02.07-.01c3.44 1.57 7.15 1.57 10.55 0c.02-.01.05-.01.07.01c.11.09.22.17.33.26c.04.03.04.09-.01.11c-.52.31-1.07.56-1.64.78c-.04.01-.05.06-.04.09c.32.61.68 1.19 1.07 1.74c.03.01.06.02.09.01c1.72-.53 3.45-1.33 5.25-2.65c.02-.01.03-.03.03-.05c.44-4.53-.73-8.46-3.1-11.95c-.01-.01-.02-.02-.04-.02zM8.52 14.91c-1.03 0-1.89-.95-1.89-2.12s.84-2.12 1.89-2.12c1.06 0 1.9.96 1.89 2.12c0 1.17-.84 2.12-1.89 2.12zm6.97 0c-1.03 0-1.89-.95-1.89-2.12s.84-2.12 1.89-2.12c1.06 0 1.9.96 1.89 2.12c0 1.17-.83 2.12-1.89 2.12z" />
                    </svg>
                </a>
                <% } %>
                <% if(shop.facebook){ %>
                <a href="<%= shop.facebook_url %>" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95z" />
                    </svg>
                </a>
                <% }; %>
                <% if(shop.tiktok){ %>
                <a href="<%= shop.tiktok_url %>" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M16.6 5.82s.51.5 0 0A4.278 4.278 0 0 1 15.54 3h-3.09v12.4a2.592 2.592 0 0 1-2.59 2.5c-1.42 0-2.6-1.16-2.6-2.6c0-1.72 1.66-3.01 3.37-2.48V9.66c-3.45-.46-6.47 2.22-6.47 5.64c0 3.33 2.76 5.7 5.69 5.7c3.14 0 5.69-2.55 5.69-5.7V9.01a7.35 7.35 0 0 0 4.3 1.38V7.3s-1.88.09-3.24-1.48z" />
                    </svg>
                </a>
                <% } %>
            </div>
        </div>
        <div id="main"
            class="max-w-screen-2xl w-full p-8 md:p-12 gap-5 flex flex-col lg:flex-row items-center lg:items-start">
            <div class="w-full grid grid-cols-1 gap-5 sm:grid-cols-2 xl:grid-cols-3 h-fit mb-10">
                <% for(let product of shop.products) { %>
                <div class="flex flex-col items-center bg-[#1d1d1d] p-5 py-10 rounded-xl">
                    <img src="<%= product.icon %>" class="w-32 h-32 mb-4" />
                    <div class="mb-2 text-2xl font-bold text-center">
                        <%= product.name %>
                    </div>
                    <div class="mb-3 text-md h-full text-center">
                        <%= product.description %>
                    </div>
                    <div class="flex items-center gap-4 flex-col">
                        <div class="text-xl text-[#198754] font-bold">
                            <%= product.price %> PLN
                        </div>
                        <a class="rounded-xl bg-[#198754] p-2 px-12 text-lg uppercase"
                            href="<%= shop.baseURL %>/checkout/<%= shop.customer %>/<%= product.id %>">
                            Kup teraz
                        </a>
                    </div>
                </div>
                <% } %>
            </div>
            <div class="w-full lg:max-w-xs flex flex-col gap-5 items-center mb-6">
                <a href="#voucher" class="rounded-xl bg-[#198754] p-3 px-10 text-lg uppercase w-full text-center">Voucher</a>
                <div class="text-2xl font-bold mt-6">
                    OSTATNIE ZAKUPY
                </div>
                <% if(shop.orders){ for(let order of shop.orders.slice(0,5)) { %>
                <div class="bg-[#1d1d1d] p-4 w-full h-fit flex gap-4 items-center rounded-xl">
                    <img src="https://minotar.net/avatar/<%= order.nick %>/48" class="w-12 h-12 ml-6 my-auto" />
                    <div>
                        <div class="font-extrabold text-lg">
                            <%= order.nick %>
                        </div>
                        <div class="text-md">
                            <%= shop.products.find((p)=>p.id===order.product)?.name || 'Produkt został usunięty'  %>
                        </div>
                    </div>
                </div>
                <% } }%>
            </div>
        </div>
        <div id="terms"
            class="hidden bg-[#1d1d1d] md:p-12 p-8 prose max-w-screen-md prose-invert w-full rounded-xl">
            <pre class="bg-[#1d1d1d] p-6"><%= shop.rules %></pre>
        </div>
        <div id="voucher" class="hidden w-full max-w-lg mt-12">
            <div class="text-3xl font-bold uppercase">Zrealizuj voucher</div>
            <div class="text-xl font-bold mt-6 mb-1 opacity-[0.7]">
                Nick z gry
            </div>
            <div class="flex flex-col md:flex-row gap-4">
                <input type="text" id="voucher-nick" class="rounded-xl bg-[#1d1d1d] p-3 px-4 text-lg w-full"
                    placeholder="Wpisz nick..." />

            </div>
            <div class="text-xl font-bold mt-6 mb-1 opacity-[0.7]">
                Kod vouchera
            </div>
            <div class="flex flex-col md:flex-row gap-4">
                <input type="text" id="voucher-code" class="rounded-xl bg-[#1d1d1d] p-3 px-4 text-lg w-full"
                    placeholder="Wpisz kod..." />
            </div>
            <button class="rounded-xl bg-[#198754] p-3 px-10 text-lg uppercase w-full mt-6">Zrealizuj</button>
        </div>
    </div>
    <div class="w-full bg-[#1d1d1d] flex justify-center text-medium">
        <div
            class="text-center max-w-screen-2xl px-6 w-full py-10 text-gray-400 flex justify-between flex-col md:flex-row items-center">
            <div>
                <%= shop.name %> nie jest w żaden sposób powiązany z Mojang AB.
            </div>
            <div>
                Sklep zasila
                <a href="https://shopmc.app" target="_blank" class="text-[#198754] font-bold">
                    ShopMC
                </a>
            </div>
        </div>
    </div>
    <script>
        const update = () => {
            document.getElementById('main').classList.add('hidden')
            document.getElementById('terms').classList.add('hidden')
            document.getElementById('voucher').classList.add('hidden')
            if (window.location.hash == '#terms') {
                document.getElementById('terms').classList.remove('hidden')
            } else if (window.location.hash == '#voucher') {
                document.getElementById('voucher').classList.remove('hidden')
            } else {
                document.getElementById('main').classList.remove('hidden')
            }
        }
        update()
        window.addEventListener('hashchange', (e) => {
            update()
        })
    </script>
</body>

</html>