<html>

<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        /* width */
        ::-webkit-scrollbar {
            width: 6px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: rgb(23, 23, 23);
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: rgb(21, 128, 61);
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: rgb(21, 128, 61);
        }
    </style>
</head>

<body>
    <div class="min-h-screen bg-black text-gray-300 flex flex-col items-center">
        <div class="w-full max-w-screen-2xl px-4 py-12 flex">
            <div class="flex-1 text-3xl font-extrabold">
                <%= config.name %>
            </div>
            <div class="flex gap-10 uppercase">
                <a href="#" class="text-xl font-bold">Sklep</a>
                <a href="#" class="text-xl font-bold">Regulamin</a>
                <a href="#" class="text-xl font-bold">Voucher</a>
            </div>
        </div>
        <div class="max-w-screen-2xl w-full p-4 gap-4 flex flex-col lg:flex-row items-center lg:items-start">
            <div class="w-full grid grid-cols-1 gap-4 sm:grid-cols-2 xl:grid-cols-3 h-fit mb-10">
                <% for(let product of config.products) { %>
                    <div class="flex flex-col items-center bg-neutral-900 p-5">
                        <img src="<%= product.icon %>" class="w-32 h-32 mb-4" />
                        <div class="mb-2 text-2xl font-bold">
                            <%= product.name %>
                        </div>
                        <div class="mb-3 text-md h-full">
                            <%= product.description %>
                        </div>
                        <div class="flex items-center gap-4 sm:flex-col">
                            <div class="text-md text-green-700">
                                <%= product.price %> PLN
                            </div>
                            <a class="rounded-sm bg-green-700 p-2 px-12 text-lg uppercase"
                                href="/checkout/<%= customer %>/<%= product.id %>">
                                Kup teraz
                            </a>
                        </div>
                    </div>
                    <% } %>
            </div>
            <div class="w-full max-w-sm flex flex-col gap-4 items-center mb-6">
                <button class="rounded-sm bg-green-700 p-2 px-10 text-lg uppercase">Voucher</button>
                <div class="text-2xl font-bold mt-6">
                    OSTATNIE ZAKUPY
                </div>
                <% for(let order of orders) { %>
                    <div class="bg-neutral-900 p-4 w-full h-fit flex gap-4 items-center">
                        <img src="https://shopmc.app/server.png" class="w-16 h-16 ml-12" />
                        <div>
                            <div class="font-extrabold text-lg">
                                xd
                            </div>
                            <div class="text-xs">
                                <%= order.nick %>
                            </div>
                            <div class="text-xs">
                                31.10 20:00
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>
    <div class="w-full bg-neutral-900 flex justify-center text-lg">
        <div class="max-w-screen-2xl px-4 w-full py-10 text-gray-500 flex justify-between flex-col md:flex-row">
            <div>
                <%= config.name %> nie jest w żaden sposób powiązany z Mojang AB.
            </div>
            <div>
                Sklep zasila
                <a href="https://shopmc.app" target="_blank" class="text-green-700 font-bold">
                    ShopMC
                </a>
            </div>
        </div>
    </div>
</body>

</html>