<html lang="pl-PL">

<head>
    <title><%= shop.name %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if(shop.icon){ %>
    <link rel="icon" type="image/x-icon" href="<%= shop.icon %>">
    <% } %>
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    <style>
        html {
            scroll-behavior: smooth;
        }

        /* width */
        ::-webkit-scrollbar {
            width: 6px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: rgb(23, 23, 23);
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #873c16;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #873c16;
        }
    </style>
</head>

<body>

    <div class="flex flex-col items-center bg-[#242424] text-[#cbcbcb8c] bg-cover bg-fixed"
        style="background-image: url(https://i.ibb.co/vwVFB91/cave.webp)">
        <div class="w-full px-10 max-w-screen-lg xl:max-w-screen-xl bg-blue pt-8 min-h-screen">
            <div class="flex gap-10 text-lg items-center font-bold">
                <a href="#">
                    <img src="<%= shop.icon %>" class="w-24 h-24">
                </a>
                <a href="#" class="hover:text-[#873c16]">
                    Sklep
                </a>
                <a href="#regulamin" class="hover:text-[#873c16]">
                    Regulamin
                </a>
            </div>
            <div id="main">
                <div class="my-[8rem] max-w-2xl">
                    <div class="text-white text-3xl md:text-5xl font-bold leading-tight mb-4">
                        Dołącz do świata <span class="text-[#873c16]"><%= shop.name %></span> już teraz!
                    </div>
                    <div class="mb-10 text-lg">
                        <%= shop.description %>
                    </div>
                    <div class="flex gap-3">
                        <button
                            class="bg-[#873c16] text-white p-6 hover:opacity-[0.8] transition-all rounded-3xl text-lg font-bold">
                            Dołącz teraz!
                        </button>
                        <% if(shop.discord){ %>
                        <a target="_blank" href="<%= shop.discord_url %>"
                            class="bg-[#2a2a2a] text-white p-6 hover:opacity-[0.8] transition-all rounded-3xl text-lg font-bold">
                            Dołącz do discorda!
                        </a>
                        <% } %>
                    </div>
                </div>
                <div
                    class="border-4 border-[#2A2A2A] rounded-3xl p-6 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6">
                    <% for(let server of shop.servers) { %>
                    <a class="bg-[#2A2A2A] rounded-3xl p-6 flex min-h-[11rem] hover:opacity-[0.7] transition-all"
                        href="#<%= server.id %>">
                        <div class="flex-1 flex flex-col justify-center gap-4 ml-3">
                            <div class="text-white font-bold text-xl">
                                <%= server.name %>
                            </div>
                            <div class="text-lg w-fit font-bold">
                                Przejdź do trybu
                            </div>
                        </div>
                        <div class="my-auto">
                            <img src="<%= server.icon %>" class="md:w-24 md:h-24 h-16 w-16">
                        </div>
                    </a>
                    <% } %>
                </div>
            </div>
            <div id="regulamin" class="text-gray-400 bg-[#2A2A2A] rounded-3xl p-6 mt-10 overflow-scroll">
                <pre><%= shop.rules %></pre>
            </div>
            <% for(let server of shop.servers) { %>
            <div id="<%= server.id %>" class="mt-20 hidden server">
                <a href="#"
                    class="bg-[#2a2a2a] p-4 hover:opacity-[0.8] transition-all rounded-3xl text-lg font-bold flex w-fit gap-2 items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
                        <path fill="currentColor" d="m7.825 13l5.6 5.6L12 20l-8-8l8-8l1.425 1.4l-5.6 5.6H20v2z" />
                    </svg>
                    Powrót do listy serwerów
                </a>
                <div class="mt-14 text-white text-4xl font-bold">
                    Wybrałeś tryb <span class="text-[#873c16]"><%= server.name %></span>
                </div>
                <div
                    class="mt-10 border-4 border-[#2A2A2A] rounded-3xl p-6 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6">
                    <% for(let product of shop.products) { if(product.server === server.id){ %>
                    <div class="bg-[#2A2A2A] rounded-3xl p-6 flex min-h-[11rem]">
                        <div class="flex-1 flex flex-col justify-center gap-4 ml-3">
                            <div class="text-white font-bold text-2xl">
                                <%= product.name %>
                            </div>
                            <a href="<%= shop.baseURL %>/checkout/<%= shop.customer %>/<%= product.id %>"
                                class="text-lg w-fit hover:text-[#873c16] font-bold" href="#<%= server.id %>">
                                Kup teraz | <%= product.price %> PLN
                            </a>
                        </div>
                        <div class="my-auto">
                            <img src="<%= product.icon %>" class="md:w-24 md:h-24 h-16 w-16">
                        </div>
                    </div>
                    <% } } %>
                </div>
            </div>
            <% } %>

        </div>
        <div class="w-full flex justify-center text-medium text-gray-400 bg-[#2A2A2A] py-5">
            <div
                class="text-center max-w-screen-xl px-6 w-full py-5 text-gray-400 flex justify-between flex-col md:flex-row items-center">
                <div>
                    <span class="font-bold"><%= shop.name %></span> nie jest w żaden sposób powiązany z Mojang AB.
                </div>
                <div>
                    Sklep zasila
                    <a href="https://shopmc.app" target="_blank" class="text-[#873c16] font-bold">
                        ShopMC
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script>
        const update = () => {
            document.getElementById('main').classList.add('hidden')
            document.getElementById('regulamin').classList.add('hidden')
            for (let server of document.getElementsByClassName('server')) {
                server.classList.add('hidden')
            }
            const hash = window.location.hash.split('#')[1]
            if (document.getElementById(hash)) {
                document.getElementById(hash).classList.remove('hidden')
            } else {
                document.getElementById('main').classList.remove('hidden')

            }
        }
        update()
        window.addEventListener('hashchange', (e) => {
            update()
        })
    </script>
</body>

</html>